.DS_Store
**/.logseq/graphs
/packages/godot/stow/Library/Application Support/Godot/projects.cfg
/packages/godot/stow/Library/Application Support/Godot/recent_dirs
/packages/godot/stow/Library/Application Support/Godot/app_userdata/
